---
layout: page
title: My Blogs
permalink: /blog/
position: 4
id: blog
---

<div class="container">
  <div class="carousel col-sm-12" data-ride="carousel" id="MyCarousel">
      <ol class="carousel-indicators">
        {% for blog in site.posts %}
         <li data-target="#myCarousel" data-slide-to="{% increment var %}"></li>
        {% endfor %}
       </ol>
     <!-- Wrapper for slides -->
       <div class="carousel-inner" role="listbox">
         {% for blog in site.posts %}
          {% if blog.active == "yes" %}
            {% assign active_class="active" %}
          {% endif %}
          <div class="item img-container {{active_class}}">
            <img src="{{blog.image | prepend: site.baseurl}}" alt="{{blog.title}}" class="img-class">
            <!--div class="carousel-caption">
              <h3><a href="{{ blog.url | prepend: site.baseurl }}">{{blog.title}}</a></h3>
            </div-->
          </div>
           {% endfor %}
       </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="posts-container">
  {% for blog in site.posts %}
  <article class="post-holder">
    <div class="row">
      <div class="col-sm-3">
        <div class="blog-date">
          <div class="vcenter">{{blog.date | date: "%e"}} {{blog.date | date: "%b"}}</div>
        </div>
      </div>
      <div class="col-sm-9">
        <h3>{{blog.title}}</h3>
        <p class="excerpt">{{blog.excerpt}}</p>
        <a href="{{ blog.url | prepend: site.baseurl }}" class="read_more pull-right">Read more...</a>
      </div>
    <div class="row">
  </article>
  {% endfor %}


</div>



</div>
